<section id="about" class="container">
    <div class="row my-4">
        <h2 class="title-bold text-center">Sobre mi</h2>
    </div>
    <div class="row align-items-center">
        <div class="col-6 col-md-3 text-center p-1">
            <img class="img-perfil img-fluid" src="../assets/images/perfil.jpg" alt="" />
        </div>
        <div class="col-6 col-md-3">
            <p class="row my-0 title-bold">Nombre:
            <p class="row my-0">Fernando Ocampo.</p>
            <p class="row my-0 title-bold">Perfil:
            <p class="row my-0 ">Full Stack Developer Jr.</p>
            <p class="row my-0 title-bold">Email:
            <p class="row my-0 ">fer.ocampo@outlook.com</p>
            <p class="row my-0 title-bold">Telefono:
            <p class="row my-0 ">+54 342-5788584</p>
        </div>
        <div class="col-sm-12 col-md-6 mt-4 mt-md-1">
            <p class="row mx-2 text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt optio, libero
                perferendis error culpa dolore voluptas reprehenderit soluta rerum ad cum suscipit est
                in, saepe corporis! Quo architecto nostrum molestias! Illum nisi ut enim voluptatem
                nemo? Repudiandae praesentium harum magnam, facilis non dolore eius consequatur
                officiis iusto totam, quidem ad nemo distinctio, eaque assumenda? Aliquid ipsam est
                deserunt cum obcaecati. Illum nisi ut enim voluptatem nemo? Repudiandae praesentium
                harum magnam
                Illum nisi ut enim voluptatem nemo? Repudiandae praesentium
                harum magnam

            </p>
        </div>
    </div>
</section>