<header class="fixed-top">
  <nav class="navbar navbar-expand-md navbar-dark px-3">
    <a href="/src/index.html"><img class="navbar-brand logo" src="../assets/images/ap.png"
        alt="Logo Argentina Programa" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#coll" aria-controls="#coll"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="coll">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link p-2 text-white text-end" href="#i-am">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 text-white text-end" href="#about">ABOUT ME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 text-white text-end" href="#education">EDUCATION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 text-white text-end" href="#projects">PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 text-white text-end" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</header>