<!-- START HEADER -->

<app-header></app-header>

<!-- END HEADER -->

<!-- START I AM -->

<app-hero></app-hero>

<!-- END I AM -->

<!-- START ABOUT ME -->

<app-about-me></app-about-me>

<!-- END ABOUT ME -->

<!-- START SKILLS -->

<app-skills></app-skills>

<!-- END SKILLS -->

<!-- START EDUCATION -->

<app-education></app-education>

<!-- END EDUCATION -->

<!-- START PROJECTS -->

<app-projects></app-projects>

<!-- END PROJECTS -->

<!-- START CONTACT -->

<app-contact></app-contact>

<!-- START FOTER -->

<app-footer></app-footer>

<!-- END FOTER -->