<section id="education" class="container">
    <div class="row">
        <div class="col">
            <h2 class="title-bold my-4 text-center">Education</h2>
            <div class="row education-item my-4">
                <div class="col-3 col-lg-2 d-grid justify-content-center align-content-center">
                    <img class="img-fluid education-img-ap" src="../assets/images/ap-dark.png" alt="">
                </div>
                <div class="col-9 border-start border-dark d-grid align-content-center">
                    <h4>Full Stack Developer Jr</h4>
                    <h5>2021-2022</h5>
                    <h5>Argentina Programa - #YoProgramo</h5>
                </div>
            </div>
            <div class="row education-item my-4">
                <div class="col-3 col-lg-2 d-grid justify-content-center align-content-center">
                    <img class="img-fluid education-img-ap" src="../assets/images/ap-dark.png" alt="">
                </div>
                <div class="col-9 border-start border-dark d-grid align-content-center">
                    <h4>Primera etapa del plan Argentina Programa</h4>
                    <h5>2021</h5>
                    <h5>Argentina Programa - #SeProgramar</h5>
                </div>
            </div>
            <div class="row education-item my-4">
                <div class="col-3 col-lg-2 d-grid justify-content-center align-content-center">
                    <img class="img-fluid education-img-ap" src="../assets/images/unl-fich-dark.png" alt="">
                </div>
                <div class="col-9 border-start border-dark d-grid align-content-center">
                    <h4>Ingeniería en Informática</h4>
                    <h5>2019 - Actualidad</h5>
                    <h5>UNL-FICH - Santa Fe, Argentina</h5>
                </div>
            </div>
        </div>
    </div>
</section>